body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.principal{
  width: 100%;
  height: 100%;
}
.header{
  padding-left: 30%;
  padding-right: 20%;
  padding-top: 5%;
  padding-bottom: 3%;
}
.form-boton{
  align-items: center;

}
.N-universo{
  padding: 0%;
  display: flex;

}
.contenidoBarra{
  width: 100%;
  height: auto;
}
.topBar{
  width: 100%;
  height: 50px;
  background-color: #1b1c1d;
}
.sidebar-contenedor{
  margin-top: 0;
}
.btn-sidebar{
  background-color: #1b1c1d;
  border: 0;
  color: white;
  padding-top: 8px;
}
.inputDialog{
  padding-top: 15px;
}
.contenidoTablas{
  padding-top: 10px;
}
.form-boton{
  padding-top: 20px;
}
.labelNav{
  padding-top: 10px;
}

/*registro eventos*/
.contenedorEventos{
  padding-top: 4%;
  height: auto;


}
.contenedorEventos .encabezado{
  padding-bottom: 5%;

}
.contenedorEventos .estadisticas{
  padding-top: 6%;
  margin-left: 20%;
  margin-right: 20%;
}
.formulario-evento{
  margin-top: 10px;
}
.formulario-evento .elemento-form{
  padding-top: 15px;
}
.formulario-evento .btn-guardar{
  padding-top: 25px;
}
.dropTipoSorteo{
  padding-top: 2px;
}
.tituloEstadistica{
  text-align: center;
  padding: 0;
  margin: 0;
}
.picker{
padding-bottom: 10vh;
}
.picker-individual{
  float: left;
  margin-right: 8vh;
}
.acertividad{
  color:black;
}
